
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Arial","Helvetica",sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #222;
  background-color: #F5F5F1;
}

a {
  color: #34A8C4;
  text-decoration: none;

  & a:hover {
    color: #34A8C4;
    text-decoration: underline;
  }

  .radio-on {
    text-decoration: underline;
    color: #222;
    padding-right: 8px;
  }

  .radio-off {
    padding-right: 8px;
  }
}

.container-fluid {
  background-color: #F5F5F1;
  margin: 0;
  padding: 0;
}

// Header bar (brand, search, univ nav) //
.headerblock {
  background-color: white;
  border-bottom: 1px solid #E1E3DF;
  height: auto;
}

#headerblockID {
  margin-left: 0;
  margin-right: 0;
}

.headertop {
  position: relative;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 80px;

  #logo {
    width: 75px;
    height: 80px;
    margin-right: 20px;
  }

  .form-inline {
    display: inline-block;
  }

  .form-group {
    width: 350px;
  }

  .form-control {
    border-color: #CFCBC8;
  }

  .input-group {
    width: 100%;
  }

  .input-group-addon {
    color: white;
    background-color: #34A8C4;
    border-color: #CFCBC8 !important;
  }
}

// Univeral Navig //
.uni-nav {
  display: inline-block;
  float: right;
  height: 80px;
  margin: 0;
  padding-left: 0;
  list-style-position: outside;

  & li {
  float: left;
  position: relative;
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0;
  }

  & li:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 14px;
    bottom: 8px;
    background-color: #eee;
    width: 1px;
  }

  #sell-etsy {
    border: 1px solid transparent;
    height: auto;
    margin-top: 23px;
    display: block;
    float: left;
    padding: 8px;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #0192B5;
  }

  .u-nav-icon {
    display: block;
    height:40px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    float: none;
    font-size: 20px;
    min-width: 20px;
    top: auto;
    position: static;
    margin: 18px auto 0;
    width: auto;
    overflow: visible;
    text-indent: 0;
    background: none;
  }

  & .u-nav-icon:before {
    content: '';
    display: block;
    margin: 0 auto;
    float: none;
    height: 0px;
    min-width: 20px;
    line-height: 0px;
    text-align: center;
  }

  .u-nav-link {
    float: left;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    padding: 0 13px;
    margin: 0;
    color: #0192B5;
    text-decoration: none;
  }

  .u-text-link {
    display: block;
    clear: left;
    white-space: nowrap;
    color: #888;
    font-size: 12px;
    margin-top: -8px;
  }
}

// Main Navig //
.main-nav {
  position: relative;
  min-width: 1000px;
  min-height: 43px;
  background-color: white;
  border-bottom: 0px solid rgb(0, 0, 0);
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.nav-bar {
  width: auto;
  text-align: left;
  margin: 0 auto;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  width: 100%;
  margin-left: -3px;
  padding-top: 2px;

  & ul {
    padding-left: 18px;
    padding-right: 18px;
    list-style-position: outside;
  }

  & li {
    display: inline-block;
    margin-right: 12px;
  }

  .nav-text {
    line-height: 38px;
    text-decoration: none;
    padding: 0 3px;
    color: #777;
  }
}

// Main Content Area
.lowerbody {
  background-color: #F5F5F1;
  margin-top: 30px;
  font-size: 13px;
  color: #444;
  line-height: 1.4em;
}

// Sidebar Area
.sidebar {
  float: left;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}

#bump {
  padding-left: 6px;
}

.cat-box {
  width: 250px;
  display: block;
  padding-left: 18px;
  padding-right: 0px;


  & h5 {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 2px;
  }
}

.cat-body {
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  margin: 0 0 24px;

  .cat-list {
    background-color: #FFF;
    border-bottom-color: #CBCCC9;
    margin-top: -8px;
  }

  & h5 {
    padding-bottom: 0px;
  }

  & ul {
    list-style: none;
    padding-left: 0;
  }

  & li {
    padding-left: 12px;
    padding-bottom: 6px;
  }

  & a {
    line-height: 1.75em;
  }
}

.refine-body {
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  margin: 0 0 12px;

  .refine-list {
    background-color: #FFF;
    border-bottom: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin-top: -8px;
  }

  & .refine-list h5 {
    padding-bottom: 0px;
  }

  & .refine-list ul {
    list-style: none;
    padding-left: 0;
  }

  & .refine-list li {
    padding-left: 12px;
    padding-bottom: 6px;
  }

  .refine-list-b {
    background-color: #FFF;
    border-bottom: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin-top: 15px;
  }

  & .refine-list-b h5 {
    padding-bottom: 0px;
  }

  & .refine-list-b ul {
    list-style: none;
    padding-left: 0;
  }

  & .refine-list-b li {
    padding-left: 12px;
    padding-bottom: 6px;
  }

  .price-amt {
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #222;
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 38px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    transition: opacity 0.3s ease-out;
  }

  .price-fields {
    margin-left: -36px;
    margin-right: -36px;
    padding-left: 18px;
    padding-right: 18px;
    float: none;
    position: relative;
  }

  .price-box1 {
    float: left;
    margin-left: 12px;
    padding-left: 6px;
    padding-right: 6px;
    width: 33.33333%;
  }

  .price-box2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 33.33333%;
    float: left;
    line-height: 1.4;
  }

  .form-sep {
    float: left;
  }

  #id-form-sep{
    display: table-cell;
    height: 38px;
    vertical-align: middle;
  }

  .price-btn {
    display: block;
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0.15);
    color: #444;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: none;
  }

  .price-indicate {
    position: relative;
    top: 1px;
    font-size: 12px;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

  }

  .price-indicate:before {
    content: '▹';
    font-family: "SSEtsy";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    font-feature-settings: "liga";
    text-rendering: optimizeLegibility;
  }

  .color-box {
    background-color: #FFF;
    border-bottom: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin-top: 15px;
    margin-bottom: 10px
  }

    & .color-box ul {
      list-style: none;
      padding-left: 0;
    }

    & .color-box li {
      display: inline-block;
      vertical-align: bottom;
      padding-bottom: 6px;
      margin-right: 0px;
    }

  .filter-title {
    margin-bottom: 6px;
    font-weight: 600;
  }

  #swatch-red {
    display: block;
    background-color: #f40b32;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-orange {
    display: block;
    background-color: #ff7f00;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-yellow {
    display: block;
    background-color: #f3cc0c;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-green {
    display: block;
    background-color: #0ac20a;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-blue {
    display: block;
    background-color: #0cccf3;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-purple {
    display: block;
    background-color: #a60cf3;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-black {
    display: block;
    background-color: #000;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }

  #swatch-white {
    display: block;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    padding: 1px;
    overflow: hidden;
  }
}

// Search Returns Area
.resultsbody {
  float: none;
  position: relative;
  padding-left: 0;
  padding-right: 18px;

  & h3 {
    padding-bottom: 9px;
    color: #222;
    font-family: "Merriweather",serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2em;
  }
}
