
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Arial","Helvetica",sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #222;
  background-color: #F5F5F1;
}

a {
  color: #34A8C4;
  text-decoration: none;

  & :hover {
    color: #34A8C4;
    text-decoration: underline;
  }
}

.container-fluid {
  background-color: white;
  margin: 0;
  padding: 0;
}

// Header bar (brand, search, univ nav) //
.headerblock {
  background-color: white;
  border-bottom: 1px solid #E1E3DF;
  height: auto;
}

#headerblockID {
  margin-left: 0;
  margin-right: 0;
}

.headertop {
  position: relative;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 80px;

  #logo {
    width: 75px;
    height: 80px;
    margin-right: 20px;
  }

  .form-inline {
    display: inline-block;
  }

  .form-group {
    width: 350px;
  }

  .form-control {
    border-color: #CFCBC8;
  }

  .input-group {
    width: 100%;
  }

  .input-group-addon {
    color: white;
    background-color: #34A8C4;
    border-color: #CFCBC8 !important;
  }
}

// Univeral Navig //
.uni-nav {
  display: inline-block;
  float: right;
  height: 80px;
  margin: 0;
  padding-left: 0;
  list-style-position: outside;

  & li {
  float: left;
  position: relative;
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0;
  }

  & li:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 14px;
    bottom: 8px;
    background-color: #eee;
    width: 1px;
  }

  #sell-etsy {
    border: 1px solid transparent;
    height: auto;
    margin-top: 23px;
    display: block;
    float: left;
    padding: 8px;
    line-height: 16px;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #0192B5;
  }

  .u-nav-icon {
    display: block;
    height:40px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    float: none;
    font-size: 20px;
    min-width: 20px;
    top: auto;
    position: static;
    margin: 18px auto 0;
    width: auto;
    overflow: visible;
    text-indent: 0;
    background: none;
  }

  & .u-nav-icon:before {
    content: '';
    display: block;
    margin: 0 auto;
    float: none;
    height: 0px;
    min-width: 20px;
    line-height: 0px;
    text-align: center;
  }

  .u-nav-link {
    float: left;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    padding: 0 13px;
    margin: 0;
    color: #0192B5;
    text-decoration: none;
  }

  .u-text-link {
    display: block;
    clear: left;
    white-space: nowrap;
    color: #888;
    font-size: 12px;
    margin-top: -8px;
  }
}

// Main Navig //
.main-nav {
  position: relative;
  min-width: 1000px;
  min-height: 43px;
  background-color: white;
  border-bottom: 0px solid rgb(0, 0, 0);
  box-shadow: 0 1px 4px;
}

.nav-bar {
  width: auto;
  text-align: left;
  margin: 0 auto;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  width: 100%;
  margin-left: -3px;
  padding-top: 2px;

  & ul {
    padding-left: 18px;
    padding-right: 18px;
    list-style-position: outside;
  }

  & li {
    display: inline-block;
    margin-right: 12px;
  }

  .nav-text {
    line-height: 38px;
    text-decoration: none;
    padding: 0 3px;
    color: #777;
  }
}

// Main Content Area
.lowerbody {
  background-color: #F5F5F1;
  margin-top: 30px;
}

.sidebar {
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
  line-height: 1.4em;
  color: #444;

  .cat-box {
    width: 250px;
    float: left;
    padding-left: 18px;
  }

  & h5 {
    font-size: 13px;
    padding-bottom: 9px;
  }
}

.cat-body {
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  margin: 0 0 12px;

  .cat-list {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    margin: 0 0 12px;
  }

  & ul {
    list-style: none;
    padding-left: 0;
  }

  & li {
    padding-left: 12px;
    padding-bottom: 6px;
  }

  & #cat-title li {
    padding-bottom: 6px;
  }
}
